VITE_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
VITE_FEATURE_MULTIPLAYER=false
VITE_FEATURE_RANKING=false
VITE_FEATURE_AI_ADVANCED=false
VITE_WS=Endpoint=https://socket-xxxxxxxxxxxxxxxxxxxx.webpubsub.azure.com;AccessKey=xxxx;Version=1.0;